AstrakoBot/config.py
AstrakoBot/*.session
AstrakoBot/*.session-journal
AstrakoBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
AstrakoBot/modules/helper_funcs/temp.txt
AstrakoBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
AstrakoBot.session-journal
updates.txt
*.exe
resources
