SaitamaRobot/config.py
SaitamaRobot/*.session
SaitamaRobot/*.session-journal
SaitamaRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
SaitamaRobot/modules/helper_funcs/temp.txt
SaitamaRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe