future
emoji
lxml
beautifulsoup4
requests
AlphabetDetector
sqlalchemy
python-telegram-bot
psycopg2-binary
feedparser
pynewtonmath
spongemock
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
jikanpy
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
telethon
